<div class="sub-nav">
    <!-- Bottom nav -->
    <!-- <div class="navBottom">
        <div class="nav-item">
            <a>注册帐号</a> -->
    <!-- replace blank-->
    <!-- <template v-if="currentUser.email">
          <a href="#">退出登录</a>
        </template>
            <template v-else>
          <a >登录豆瓣</a>
        </template>
        </div>
        <div class="nav-item">
            <a href="https://movie.douban.com/">使用桌面版</a> -->
    <!-- replace blank-->
    <!-- <a href="#">使用豆瓣App</a>
        </div>
    </div> -->
    <!-- Quick start nav -->
    <div class="quickNav">
        <ul class="quick-nav">
            <li>
                <a>影院热映</a>
            </li>
            <li>
                <a>欧美新碟榜</a>
            </li>
            <li>
                <a>注册帐号</a>
            </li>
            <li>
            </li>
        </ul>
    </div>
</div>