<div class="header-bar">
    <h1 class="title">
        <a href="">豆瓣</a>
    </h1>
    <ul class="nav">
        <li>
            <a style="color: #2384E8">
          电影
        </a>
        </li>
        <li>
            <a style="color: #9F7860">
          图书
        </a>
        </li>
        <li>
            <a style="color: #E4A813">
          广播
        </a>
        </li>
        <li>
            <a style="color: #2AB8CC">
          小组
        </a>
        </li>
    </ul>
    <span class="talion"></span>
</div>

<div class="home-view has-header">
    <app-sub-nav></app-sub-nav>
    <app-home-list></app-home-list>

</div>